@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .pas {
        font-family: "Plaster", sans-serif;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
    }
  }
